config.php
storage/.installed
storage/logs/*.log
storage/posters/*
!storage/posters/.gitkeep
!storage/logs/.gitkeep
storage/updates/*
!storage/updates/.gitkeep
storage/backups/*
!storage/backups/.gitkeep
