Options -Indexes
DirectoryIndex front.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /putmio/

    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteRule ^(index|front)\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . front.php [L]
</IfModule>

<FilesMatch "^(config\.php|\.gitignore|\.user\.ini)$">
    Require all denied
</FilesMatch>
